<a href="<%= product_url %>/product/<%= product_id %><%= title %>" class="item">
    <img src="<%= image_url %>" alt="<%= title %>" />
    <div class="price">
        $<%= price %>
    </div>
</a>
<div class="rating"></div>
<span class="current-rating"><%= like_count %></span>
<div data-prod_id="<%= product_id %>" class="like-button"></div>